@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #7A6C39), color-stop(40%, #4EAB7E));
  background: linear-gradient(to right, #7A6C39 60%, #4EAB7E 40%);
  overflow: hidden;
}

*,
body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

button {
  cursor: pointer;
}

/* ------------------ */
/* ------------------ */
/* ------------------ */
.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  max-width: 1200px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px 0px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 70px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  position: relative;
}
.header__logo img {
  width: 145px;
}

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
}

.menu__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}

.menu__link:after {
  content: "";
  width: 0px;
  height: 3px;
  display: block;
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: #00FFF0;
}

.menu__link:hover:after {
  width: 100%;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000;
  padding: 15px;
  min-width: 200px;
}

.menu__sub-list li {
  margin: 0px 0px 10px 0px;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__sub-link {
  color: #fff;
}

.menu__sub-link:hover {
  text-decoration: underline;
}

.menu__arrow {
  display: none;
}

/* ----------------------- */
body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* ----------------------- */
@media (min-width: 767px) {
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__list li {
    margin: 0px 25px 0px 0px;
  }
  .menu__list li:last-child {
    margin: 0px;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    -webkit-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .header__container {
    padding: 0px;
  }
  .header__logo {
    font-size: 25px;
  }
  .header__logo img {
    width: 100px;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__sub-list {
    position: relative;
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }
  .menu__sub-link {
    font-size: 20px;
    color: #000;
  }
}
.menu__button_join {
  width: 123px;
  height: 45px;
  background: #FFFFFF;
  border-radius: 41.5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #1CAFA6;
}

@media (min-width: 767px) {
  .promo {
    margin-top: -50px;
  }
}
.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .promo__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 767px) {
  .promo__info {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-flex: 700px;
        -ms-flex: 700px;
            flex: 700px;
  }
}
@media (max-width: 767px) {
  .promo__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.promo__title {
  max-width: 500px;
  text-align: center;
  font-weight: 800;
  font-size: 64px;
  line-height: 72px;
  color: #FFFFFF;
}
.promo__text {
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.promo__preferences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo__preference {
  margin: 0px 5px;
}
.promo__offer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}
@media (min-width: 767px) {
  .promo__offer {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media (max-width: 767px) {
  .promo__offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
.promo__button {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  padding: 10px;
  background: #1CAFA6;
  border-radius: 5px 5px 40px 5px;
}
.promo__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.promo-preference__count {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #00FFF0;
}
.promo-preference__descr {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.promo-result {
  background: #1CAFA6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 20px 0px;
}
.promo-result__chart {
  margin: 0px 15px 0px 0px;
}
.promo-result__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #1E1E1E;
}
.promo-result__count {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #1E1E1E;
}

.facilities__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 767px) {
  .facilities__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.facilities__info {
  width: 50%;
}
.facilities__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}
.facilities__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  max-width: 600px;
}
.facilities__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .facilities__lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.facilities__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 450px;
  height: 500px;
}

.facilities__images img {
  width: 220px;
  max-height: 50%;
}
@media (max-width: 767px){
  .facilities__images {
    display: flex;
    flex-direction: column;
  }
  .facilities__images img {
    max-width: 100%;
  }
}
.facilities-info__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}

.facilities-list__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #FFFFFF;
  max-width: 200px;
  margin: 0px 0px 20px 0px;
}
.facilities-list li {
  margin: 0px 0px 10px 0px;
  color: #fff;
}
.facilities-list li:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0px 10px 0px 0px;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1024px) {
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contact__title {
  margin: 0px 40px 0px 0px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}
.contact__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.contact__adresses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .contact__adresses {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767px) {
  .contact__adresses__map {
    width: 100%;
    background: #000;
  }
  .contact__adresses__map img {
    max-width: 100%;
  }
}

.contact-adress {
  background-color: #fff;
  width: 300px;
  padding: 15px;
  margin: 5px;
}
@media (max-width: 767px) {
  .contact-adress {
    width: 100%;
  }
}
.contact-adress__title {
  margin: 0px 0px 0px 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #1CAFA6;
}
.contact-adress__phone {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.contact-adress__phone span {
  color: #FF0000;
}
.contact-adress__email {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-adress__email span {
  color: #FF0000;
}

.feedback {
  margin: 10px 0px 0px 0px;
  background-color: #7A6C39;
}
.feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feedback form {
  background: rgba(28, 175, 166, 0.53);
  border-radius: 20px;
  padding: 20px 150px;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .feedback form {
    width: 100%;
    padding: 20px 20px;
  }
}
.feedback form input {
  background: #D9D9D9;
  border-radius: 41px;
  width: 230px;
  outline: none;
  padding: 20px 0px 20px 20px;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 767px) {
  .feedback form input {
    width: 100%;
  }
}
.feedback form input::-webkit-input-placeholder {
  padding: 0px 0px 0px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #020202;
}
.feedback form input::-moz-placeholder {
  padding: 0px 0px 0px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #020202;
}
.feedback form input:-ms-input-placeholder {
  padding: 0px 0px 0px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #020202;
}
.feedback form input::-ms-input-placeholder {
  padding: 0px 0px 0px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #020202;
}
.feedback form input::placeholder {
  padding: 0px 0px 0px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #020202;
}
.feedback form textarea {
  background: #D9D9D9;
  border-radius: 50px;
  padding: 20px 0px 0px 20px;
  outline: none;
  width: 100%;
  height: 100px;
  resize: none;
}
.feedback form textarea::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #020202;
}
.feedback form textarea::-moz-placeholder {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #020202;
}
.feedback form textarea:-ms-input-placeholder {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #020202;
}
.feedback form textarea::-ms-input-placeholder {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #020202;
}
.feedback form textarea::placeholder {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #020202;
}
.feedback__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin: 20px 0px 0px 0px;
}
.feedback button {
  background: #FF0000;
  border-radius: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  padding: 10px 20px;
}
.feedback__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
  text-align: center;
}